@charset "utf-8";
@font-face {
    font-family:'geneva';
    src: url('../font/geneva.ttf');
}
body {padding:0; margin:0; font-family:'geneva';}
li {list-style:none;}
p,ul,li,ol,dl,dt,dd,h1,h2,h3,h4 {padding:0; margin:0;}
a,span,p,div {outline:0;}
h1,h2,h3,h4,h5 {font-weight:normal;}
a,img {border:0; vertical-align:middle;}
a {text-decoration:none;}
a:link{color:#444;}
a:visited{color:#444;}
a:hover{color:#222;}
a:active{color:#444;}
body,html {height:100%;}
#video {color:#7d0e0e;}

#video h2 {font-size:30px; line-height:45px; padding-top:15px; letter-spacing:-1px;}
#video h3 {font-size:24px; line-height:30px; letter-spacing:-1px;}

.tab {margin-top:50px; clear:both; overflow:hidden; padding-left:110px;} 
.tab ul {width:100%;}
.tab ul li {width:33%; float:left; font-size:40px; line-height:120px; color:#fff; height:120px; overflow:hidden; text-align:center; background:#891010;}
.tab ul li.on {background:#fff; width:34%; color:#891010;}

.list {padding-top:2px; clear:both; width:100%; overflow:hidden;}
.list li {position:relative; height:110px; padding-left:150px; overflow:hidden; background:url(../img/line.png) repeat-x left bottom;}
.list li img {position:absolute; left:0; top:0; border-bottom:2px solid #fff;}

#header {position:absolute; left:0; top:0; width:100%; height:50px; background:#000; z-index:3;} 
#header h1 {padding:0; top:50px; left:0; position:absolute;}
