body {
	position: relative;
	
	width: 100%;
	height: 100%;
	
	margin: 0px;
	padding: 0 0 0 0;
	
	overflow: hidden;
	padding:0px !important;
}

.page {
	position: absolute;

	-webkit-transition: width 0.5s ease-in-out, height 0.5s ease-in-out, top 0.5s ease-in-out, left 0.5s ease-in-out, background-image 0.5s ease-in-out, opacity 0.5s ease-in-out;
	-moz-transition: width 0.5s ease-in-out, height 0.5s ease-in-out, top 0.5s ease-in-out, left 0.5s ease-in-out, background-image 0.5s ease-in-out, opacity 0.5s ease-in-out;
	-o-transition: width 0.5s ease-in-out, height 0.5s ease-in-out, top 0.5s ease-in-out, left 0.5s ease-in-out, background-image 0.5s ease-in-out, opacity 0.5s ease-in-out;

	overflow: hidden;

	display: none;
}

.dialog {
	position:absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background:rgba(0,0,0,0.5);
}

.page .container {
	position: absolute;	

	-webkit-transition: width 0.5s ease-in-out, height 0.5s ease-in-out, top 0.5s ease-in-out, left 0.5s ease-in-out;
	-moz-transition: width 0.5s ease-in-out, height 0.5s ease-in-out, top 0.5s ease-in-out, left 0.5s ease-in-out;
	-o-transition: width 0.5s ease-in-out, height 0.5s ease-in-out, top 0.5s ease-in-out, left 0.5s ease-in-out;

	display: none;
}

#test {
	position: fixed;
	
	top: 400px;
	left: 10px;
	
	width: 100px;
	
	color: white;

	z-index: 9999;
}
/* Pages */
#pages_wrapper {
	position: relative;
	
	width: 100%;
	height: 100%;
	
	margin: auto;
}


/* Menus */
#menus_page {
	position: absolute;
	
	top: 0px;
	left: 0px;
	
	width: 100%;
	height: 100%;
	
	display: block;
	background-size: 100% 100%;
	
	z-index: 1;
}

@media only screen and (orientation:portrait){
	#menus_page {background: url(../img/768/main-portrait/main_bg.jpg) no-repeat;}
}

@media only screen and (orientation:landscape){
	#menus_page {background: url(../img/768/main-landscape/main_bg.jpg) no-repeat;}
}

section#menu {
	position: absolute;
	
	display: block;
	
	z-index: 9999;
}

section#menu div#menu {
	position: absolute;
	
	top: 0px;
	left: 0px;
	
	width: 54px;
	height: 54px;
	
	background-image: url(../img/768/category/home_btn_nor.png);
}

section#menu div#menus {
	position: absolute;
	
	left: -1024px;
	
	width: 1024px;
	
	-webkit-transition: left 0.5s ease-in-out;
	-moz-transition: left 0.5s ease-in-out;
	-o-transition: left 0.5s ease-in-out;
}

section#menu div#categories {
	position: absolute;
	
	left: 273px;
	top: -428px;
	
	width: 153px;
	height: 408px;
	
	-webkit-transition: top 0.5s ease-in-out;
	-moz-transition: top 0.5s ease-in-out;
	-o-transition: top 0.5s ease-in-out;
}


section#menu div#menus div.menu {
	width: 110px;
	height: 56px;
	
	float: left;
}

section#menu div#categories div.category {
	width: 110px;
	height: 68px;
}

#pages_wrapper.menu section#menu div#menu {
	background-image: url(../img/768/category/home_btn_sel.png);
}

#pages_wrapper.menu section#menu div#menus {
	left: 54px;
}

section#menu #home {background-image: url(../img/768/category/sub_home_btn_nor.png) }
section#menu.home #home {background-image: url(../img/768/category/sub_home_btn_sel.png) }

section#menu #login {background-image: url(../img/768/category/sub_login_btn_nor.png) }
section#menu.login #login {background-image: url(../img/768/category/sub_login_btn_act.png) }

section#menu.logged #login {background-image: url(../img/768/category/sub_logout_btn_nor.png) }
section#menu.logged.login #login {background-image: url(../img/768/category/sub_logout_btn_act.png) }

section#menu #category {background-image: url(../img/768/category/sub_category_btn_nor.png) }
section#menu.category #category {background-image: url(../img/768/category/sub_category_btn_act.png) }

section#menu #mywebapps {background-image: url(../img/768/category/sub_myweb_btn_nor.png) }
section#menu.mywebapp #mywebapps {background-image: url(../img/768/category/sub_myweb_btn_act.png) }

section#menu #search {background-image: url(../img/768/category/sub_search_btn_nor.png) }
section#menu.search #search {background-image: url(../img/768/category/sub_search_btn_act.png) }

section#menu #joinus {background-image: url(../img/768/category/sub_join_btn_nor.png) }
section#menu.joinus #joinus {background-image: url(../img/768/category/sub_join_btn_act.png) }

section#menu #setting {background-image: url(../img/768/category/sub_setting_btn_nor.png) }
section#menu.setting #setting {background-image: url(../img/768/category/sub_setting_btn_act.png) }

section#menu div#menus #exit {
	background:url(../img/768/category/menu_close_btn_nor.png) no-repeat;
	width:50px;
	height:54px;
}

section#menu div#menus #exit:active {
	background:url(../img/768/category/menu_close_btn_sel.png) no-repeat;
}

#pages_wrapper.menu section#menu.category div#categories {
	top: 50px;
}

div#categories #topfree {background-image: url(../img/768/category/sub2_top_free_btn_nor.png) }
div#categories #education {background-image: url(../img/768/category/sub2_edu_btn_nor.png) }
div#categories #entertainment {background-image: url(../img/768/category/sub2_enter_btn_nor.png) }
div#categories #game {background-image: url(../img/768/category/sub2_game_btn_nor.png) }
div#categories #lifestyle {background-image: url(../img/768/category/sub2_life_btn_nor.png) }
div#categories #information {background-image: url(../img/768/category/sub2_info_btn_nor.png) }

#menus_page #logo {
	position: absolute;
	
	top: 9.8%;
	left: 8.3%;
}

@media only screen and (orientation:portrait){
	#menus_page #logo {
		width: 143px;
		height: 58px;
		background-image: url(../img/768/main-portrait/main_title.png);
	}
} 

@media only screen and (orientation:landscape){
	#menus_page #logo {
		width: 106px;
		height: 45px;
		background-image: url(../img/768/main-landscape/main_title.png);
	}
} 

#menus_page.logged .user_sign {
	position: absolute;
	
	
}	

#menus_page.logged .name {
	position: absolute;
	
	/*text-shadow: 3px 3px 3px white, -3px -3px 3px white;*/
}

#menus_page.logged .bar {
	position: absolute;
	
	margin: 0px;
	padding: 0px;

	background-size: 100%;
}

@media only screen and (orientation:portrait){
	#menus_page.logged .user_sign { 
		top: 11.1%;
		left: 71.6%;
	}

	#menus_page.logged .icon { 
		width: 35px;
		height: 37px;
		background-image: url(../img/768/main-portrait/user_icon.png);
	}

	#menus_page.logged .name {
		top: 5px;
		left: 30px;
		width: 118px;
		text-align: center;
		font: 18px 'Lt', sans-serif;color:#ffffff;
	}

	#menus_page.logged .bar { 
		bottom: 0px;
		left: 30px;
		width: 118px;
		height: 16px;
		background-image: url(../img/768/main-portrait/id_under_line.png);
	}
}

@media only screen and (orientation:landscape){
	#menus_page.logged .user_sign { 
		top: 12.3%;
		left: 77.6%;
	}

	#menus_page.logged .icon { 
		width: 29px;
		height: 30px;
		background-image: url(../img/768/main-landscape/user_icon.png);
	}

	#menus_page.logged .name {
		top: 5px;
		left: 20px;
		width: 87px;
		text-align: center;
		font: 13px 'Lt', sans-serif;color:#ffffff;
	}

	#menus_page.logged .bar { 
		bottom: 0px;
		left: 20px;
		width: 87px;
		height: 15px;
		background-image: url(../img/768/main-landscape/id_under_line.png);
	}
}

#menus_page #menus {
	position: absolute;

	top: 18.6%;
	left: 12.4%;

	width: 1024px;
	height: 1024px;
}

#menus_page .menu {
	position: absolute; 

	background-repeat : no-repeat;
	background-size: 100% 100%;

	display: block;
}

@media only screen and (orientation:portrait){
	#menus_page .menu {
		width: 86px;
		height: 525px;
	}
}

@media only screen and (orientation:landscape){
	#menus_page .menu {
		width: 79px;
		height: 347px;
	}
}

#menus_page .sponsor {
	position: absolute; 

	background-repeat : no-repeat;
	background-size: 100% 100%;

	display: block;
}

@media only screen and (orientation:portrait){
	#menus_page .sponsor {
		width: 290px;
		height: 165px;
	}
	
	#menus_page .sponsor_icon {
		position:absolute;
		top:5px;
		left:7px;
		width:276px;
		height:151px;
	}
}

@media only screen and (orientation:landscape){
	#menus_page .sponsor {
		width: 172px;
		height: 177px;
	}
	
	#menus_page .sponsor_icon {
		position:absolute;
		top:5px;
		left:7px;
		width:158px;
		height:162px;
	}
}


@media only screen and (orientation:portrait){
#menus_page .menu_slabs {
	position: absolute;
	top: 21.2%;
	left: 50%;
	margin: 0 0 0 -384px;
	width: 768px;
}

#menus_page #login {left:11.7%; background-image: url(../img/768/main-portrait/login_btn_nor.png);}
#menus_page.logged #login {left:11.7%; background-image: url(../img/768/main-portrait/logout_btn_nor.png);}
#menus_page #category {left:24.9%; background-image: url(../img/768/main-portrait/category_btn_nor.png);}
#menus_page #mywebapps {left:37.9%; background-image: url(../img/768/main-portrait/my_web_btn_nor.png);}
#menus_page #search {left:51%; background-image: url(../img/768/main-portrait/search_btn_nor.png);}
#menus_page #sponsor1 {top:530px; left:11.7%;}/* background-image: url(../img/768/main-portrait/ad_box_bg.png);}*/
#menus_page #sponsor2 {top:530px; left:50.8%;}/* background-image: url(../img/768/main-portrait/ad_box_bg.png);}*/
#menus_page #signup {left:64.1%; background-image: url(../img/768/main-portrait/sign_btn_nor.png);}
#menus_page #setting {left:77.2%; background-image: url(../img/768/main-portrait/setting_btn_nor.png);}


#menus_page #login:hover {left:11.7%; background-image: url(../img/768/main-portrait/login_btn_sel.png);}
#menus_page.logged #login:hover {left:11.7%; background-image: url(../img/768/main-portrait/logout_btn_sel.png);}
#menus_page #category:hover {left:24.9%; background-image: url(../img/768/main-portrait/category_btn_sel.png);}
#menus_page #category.menu.clicked {left:24.9%; background-image: url(../img/768/main-portrait/category_btn_sel.png);}
#menus_page #mywebapps:hover {left:37.9%; background-image: url(../img/768/main-portrait/my_web_btn_sel.png);}
#menus_page #search:hover {left:51%; background-image: url(../img/768/main-portrait/search_btn_sel.png);}
#menus_page #sponsor1:hover {top:530px; left:11.7%;}/* background-image: url(../img/768/main-portrait/ad_box_bg.png);}*/
#menus_page #sponsor2:hover {top:530px; left:50.8%;}/* background-image: url(../img/768/main-portrait/ad_box_bg.png);}*/
#menus_page #signup:hover {left:64.1%; background-image: url(../img/768/main-portrait/sign_btn_sel.png);}
#menus_page #setting:hover {left:77.2%; background-image: url(../img/768/main-portrait/setting_btn_sel.png);}
}


@media only screen and (orientation:landscape){
#menus_page .menu_slabs {
	position: absolute;
	top: 21.3%;
	left: 50%;
	margin: 0 0 0 -355px;
	width: 710px;
}

#menus_page #login {left:8.5%; background-image: url(../img/768/main-landscape/login_btn_nor.png);}
#menus_page.logged #login {left:8.5%; background-image: url(../img/768/main-landscape/logout_btn_nor.png);}
#menus_page #category {left:18.5%; background-image: url(../img/768/main-landscape/category_btn_nor.png);}
#menus_page #mywebapps {left:28.5%; background-image: url(../img/768/main-landscape/my_web_btn_nor.png);}
#menus_page #search {left:38.5%; background-image: url(../img/768/main-landscape/search_btn_nor.png);}
#menus_page #sponsor1 {left:48.5%;}/* background-image: url(../img/768/main-landscape/ad_box_bg.png);}*/
#menus_page #sponsor2 {top:170px; left:48.5%;}/* background-image: url(../img/768/main-landscape/ad_box_bg.png);}*/
#menus_page #signup {left:71.5%; background-image: url(../img/768/main-landscape/sign_btn_nor.png);}
#menus_page #setting {left:81.5%; background-image: url(../img/768/main-landscape/setting_btn_nor.png);}


#menus_page #login:hover {left:8.5%; background-image: url(../img/768/main-landscape/login_btn_sel.png);}
#menus_page.logged #login:hover {left:8.5%; background-image: url(../img/768/main-landscape/logout_btn_sel.png);}
#menus_page #category:hover {left:18.5%; background-image: url(../img/768/main-landscape/category_btn_sel.png);}
#menus_page #category.menu.clicked {left:24.9%; background-image: url(../img/768/main-landscape/category_btn_sel.png);}
#menus_page #mywebapps:hover {left:28.5%; background-image: url(../img/768/main-landscape/my_web_btn_sel.png);}
#menus_page #search:hover {left:38.5%; background-image: url(../img/768/main-landscape/search_btn_sel.png);}
#menus_page #sponsor1:hover {left:48.5%;}/* background-image: url(../img/768/main-landscape/ad_box_bg.png);}*/
#menus_page #sponsor2:hover {top:170px; left:48.5%;}/* background-image: url(../img/768/main-landscape/ad_box_bg.png);}*/
#menus_page #signup:hover {left:71.5%; background-image: url(../img/768/main-landscape/sign_btn_sel.png);}
#menus_page #setting:hover {left:81.5%; background-image: url(../img/768/main-landscape/setting_btn_sel.png);}
}

/* Categories */
#categories_page {
	position : absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	opacity: 0;

	background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #40B2F2), color-stop(1, #095E8E));
	background-image: -webkit-linear-gradient(top, #40B2F2, #095E8E);
	background-image: -moz-linear-gradient(top, #40B2F2, #095E8E);
	background-image: -o-linear-gradient(top, #40B2F2, #095E8E);
	
	display: none;
	z-index: 2;
}

#pages_wrapper.menus #categories_page {	
	top: 18.6%;
	left: 20.8%;
	
	width: 0%;
	height: 0%;
	
	display: block;
}

#pages_wrapper.details.shortcut #categories_page {	
	display: none;
}

#pages_wrapper.categories #categories_page, #pages_wrapper.apps #categories_page, #pages_wrapper.details #categories_page {	
	position : absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	opacity: 1;

	display: block;
}

#pages_wrapper #categories_page .container {
	position : absolute;
	top: 0%;
	left: 0%;
	width : 100%;
	height : 100%;
}

#pages_wrapper.categories #categories_page .container {
	display: block;
}

#pages_wrapper.categories #categories_page .category_bg { 
	position: absolute;
	width: 100%;
	height: 100%;
	background-image : url(../img/768/category/bg_deco.png);
	background-size:contain;
	background-position : right bottom;
	background-repeat : no-repeat;
}

#pages_wrapper #categories_page .container .title {
	display : none;
	position : absolute;
	top : 12.4%;
	width : 317px;
	height : 86px;

	background-image : url(../img/768/category/category_title.png);
	background-repeat : no-repeat;
	z-index : 3;
	display : block;
}

#pages_wrapper.categories #categories_page .container .title {
	display : block;
	left : 9.4%;
}

#pages_wrapper.categories #categories_page .container #category_exit {
	display:block;
	position:absolute;
	top:1.9%%;
	left:92.3%;
	width:27px; height:25px;
	padding:4px;
	background-image:url(../img/768/category/app_box_close_btn_nor.png);
	background-size:27px 25px;
	background-position:center center;
	background-repeat:no-repeat;
	z-index:4;
}

#pages_wrapper.categories #categories_page .container #category_exit:active {
	background-image:url(../img/768/category/app_box_close_btn_sel.png);
}

#pages_wrapper #categories_page div.container .category {
	display : none;
	position : absolute;
	
	width : 200px;
	height : 50px;
	background-repeat : no-repeat
}

#pages_wrapper.categories #categories_page div.container .category{
	left : 14.2%;
	display : block
}

#categories_page .container #topfree{ background-image : url(../img/768/category/top_free_nor.png); top : 28.1%;}
#categories_page .container .topfree #topfree{ background-image : url(../img/768/category/top_free_sel.png)}

#categories_page .container #education{	background-image : url(../img/768/category/education_nor.png); top : 38.5%;}
#categories_page .container .education #education{	background-image : url(../img/768/category/education_sel.png)}

#categories_page .container #entertainment{ background-image : url(../img/768/category/entertainment_nor.png); top : 38.5%; /*48.9%;*/}
#categories_page .container .entertainment #entertainment{ background-image : url(../img/768/category/entertainment_sel.png)}

#categories_page .container #game{ background-image : url(../img/768/category/game_nor.png); top : 48.9%;/*59.3%;*/}
#categories_page .container .game #game{ background-image : url(../img/768/category/game_sel.png)}

#categories_page .container #lifestyle{	background-image : url(../img/768/category/lifestyle_nor.png); top : 59.3% /*69.8%*/;}
#categories_page .container .lifestyle #lifestyle{	background-image : url(../img/768/category/lifestyle_sel.png)}

#categories_page .container #information{ background-image : url(../img/768/category/information_nor.png); top : 69.8% /*80.2%*/;}
#categories_page .container .information #information{ background-image : url(../img/768/category/information_sel.png)}

#pages_wrapper.apps #categories_page .container {
	display: block;
}

#pages_wrapper.apps #categories_page .container .title, #pages_wrapper.details #categories_page .container .title {
	display : block;
	left : 4.6%;
}

#pages_wrapper.apps #categories_page .container .category, #pages_wrapper.details #categories_page .container .category{
	left : 4.6%;
	display : block
}

#pages_wrapper.apps #categories_page .container, #pages_wrapper.details #categories_page .container {	
	top: 0px;
	left: 0px;
	
	display: block;
}


/* Login */
#login_page {
	position: absolute;
	
	opacity: 0;
	
	display: none;
	
	background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #836ce0), color-stop(1, #41317a));
	background-image: -webkit-linear-gradient(top, #836ce0, #41317a);
	background-image: -moz-linear-gradient(top, #836ce0, #41317a);
	background-image: -o-linear-gradient(top, #836ce0, #41317a);

	z-index: 2;
}


#login_box_page{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height:100%;
	display: none;
	z-index: 9999;
}

#pages_wrapper.menus #login_page {
	top: 18.6%;
	left:12.4%;
	
	width: 0%;
	height: 0%;
	
	display: block;
}

#pages_wrapper.login #login_page {
	top: 0%;
	left: 0%;
	
	width: 100%;
	height: 100%;
	
	opacity: 1;

	display: block;

}

#pages_wrapper.login #login_page .login_bg{
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url("../img/768/login/login_bg_deco.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right bottom;
}

#login_box_page .login_bg{
	position:absolute;
	top: 50%;
	left: 50%;
	margin: -191px 0 0 -160px;
	width: 382px;
	height: 320px;
	background-image: url("../img/768/login/login_popup_bg.png");
}

#pages_wrapper.login #login_page .login_exit{
	position: absolute;
	top: 0%;
	right: 0%;
	width: 81px;
	height: 75px;
	background-image: url("../img/768/login/close_btn_nor.png");
	background-repeat: no-repeat;
	background-position: center center;
}

#pages_wrapper.login #login_page .login_exit:active {
	background-image: url("../img/768/login/close_btn_sel.png");
}

#login_box_page .login_exit{
	position: absolute;
	top: 0%;
	right: 0%;
	width: 81px;
	height: 75px;
	background-image: url("../img/768/login/close_btn_nor.png");
	background-repeat: no-repeat;
	background-position: center center;
}

#login_box_page .login_exit:active {
	background-image: url("../img/768/login/close_btn_sel.png");
}

#pages_wrapper.login #login_page .container {
	top: 12.4%;
	left: 9.4%;
	width: 100%;
	height: 768px;
	
	display: block;
}

#login_box_page .container {
	position: absolute;
	top: 20.6%;
	left: 9.2%;
	width: 100%;
	height: 100%;
}

#pages_wrapper.login #login_page .container .login_title{
	width: 170px;
	height: 90px;
	background-image: url("../img/768/login/login_title.png");
	background-repeat: no-repeat;
}

#login_box_page .login_title{
	position: absolute;
	top: 5.9%;
	width: 100%;
	text-align: center;
	font: 35px 'Bd', sans-serif;color:#ffffff;
}

#pages_wrapper.login #login_page .container .user_id_input{
	position: absolute;
	top: 15.9%;
	left: 4.5%;
	width: 428px;
	height: 56px;
	background-image: url("../img/768/login/input_box_bg.png");
	font: 20px 'Bd', sans-serif;color:#8a7bce;
	padding: 18px;
}

#login_box_page .container .user_id_input{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 310px;
	height: 42px;
	background-image: url("../img/768/login/popup/input_box_bg.png");
	font: 14px 'Bd', sans-serif;color:#8a78ce;
	padding: 14px;
}
.user_id_input{
	background-position: center center;
	border: 2px solid #8278ce;
	background-repeat: no-repeat;
}

#pages_wrapper.login #login_page .container .password{
	position: absolute;
	top: 26.4%;
	left: 4.5%;
}

#login_box_page .password{
	position: absolute;
	top: 18.2%;
}

#pages_wrapper.login #login_page .container .password_input{
	width: 428px;
	height: 56px;
	background-image: url("../img/768/login/input_box_bg.png");
	font: 20px 'Bd', sans-serif;color:#8a7bce;
	padding: 18px;
}

#login_box_page .password_input{
	width: 310px;
	height: 42px;
	background-image: url("../img/768/login/popup/input_box_bg.png");
	font: 14px 'Bd', sans-serif;color:#8a7bce;
	padding: 14px;
}

.password_input{
	position: absolute;
	background-position: center center;
 	border: 2px solid #827bd2;
	background-repeat: no-repeat;
}

#pages_wrapper.login #login_page .container .password_input_caption{
	position: absolute;
	width: 428px;
	height: 56px;
	font: 20px 'Bd', sans-serif;color:#8a7bce;
	padding: 18px;
	margin: 0px;
}

#login_box_page .password_input_caption{
	position: absolute;
	width: 310px;
	height: 42px;
	font: 14px 'Bd', sans-serif;color:#8a7bce;
	padding: 14px;
	margin: 0px;
}

#pages_wrapper.login #login_page .container .login_button{
	position: absolute;
	top: 37.1%;
	left: 4.5%;
	width: 428px;
	height: 56px;
	background-image: url("../img/768/login/login_btn_nor.png");
}

#pages_wrapper.login #login_page .container .login_button:active {
	background-image: url("../img/768/login/login_btn_sel.png");
}

#login_box_page .login_button{
	position: absolute;
	top: 36.6%;
	width: 310px;
	height: 42px;
	background-image: url("../img/768/login/popup/login_btn_nor.png");
}

#login_box_page .login_button:active {
	background-image: url("../img/768/login/popup/login_btn_sel.png");
}

#pages_wrapper.login #login_page .container .check_remember_me{
	position: absolute;
	top: 48.1%;
	left: 4.5%;
}

#login_box_page .check_remember_me{
	position: absolute;
	top: 55.7%;
}

.check_remember_me .check{
	position: absolute;
	width: 22px;
	height: 22px;
	background-image: url("../img/768/login/popup/check_box_nor.png");
	background-repeat: no-repeat;
}

.check_remember_me .check:active {
	background-image: url("../img/768/login/popup/check_box_sel.png");
}

.check_remember_me .check.checked{
	background-image: url("../img/768/login/popup/check_box_act.png");
}

#pages_wrapper.login #login_page .container .remember_me_caption{
	top: 7px;
	left: 46px;
	width: 200px;
	height: 16px;
	font: 20px 'Bd', sans-serif;color:#8a7bce;
}

#login_box_page .container .remember_me_caption{
	top: 7px;
	left: 25px;
	width: 200px;
	height: 14px;
	font: 14px 'Bd', sans-serif;color:#8a7bce;
}

.remember_me_caption{
	position: absolute;
	margin: 0px;
/*
	background-image: url("../img/768/login/remember_me.png");
	background-repeat: no-repeat;
*/
}

#pages_wrapper.login #login_page .container .login_error{
	position: absolute;
	display:none;
	top: 55.2%;
	left: 4.5%;
	width: 50%
}

#login_box_page .login_error{
	position: absolute;
	display:none;
	top: 67.5%;
	width: 100%
}

.login_error_icon{
	position: absolute;
	width: 17px;
	height: 16px;
	background-image: url("../img/768/login/Warning_icon.png");
}

.login_error_message{
	position: absolute;
	top: 2px;
	left: 30px;
	font: 14px 'Bd', sans-serif;color:#ff0000;
}

#login_box_page .baloon_user_id{
	position: absolute;
	display: none;
	top: 6.6%;
	left: 16.7%;
	width:156px;
	height: 58px;
	background-image: url("../img/768/login/warning_id.png");
}

#login_box_page .baloon_password{
	position: absolute;
	display: none;
	top: 13.8%;
	left: 16.7%;
	width:210px;
	height: 59px;
	background-image: url("../img/768/login/warning_password.png");
}

#message_box_page{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height:100%;
	display: none;
	z-index: 9999;
}

.message_box{
	position:absolute;
	top: 50%;
	left: 50%;
	margin: -84px 0 0 -220px;
	width: 441px;
	height: 169px;
	background-image: url("../img/768/login/warning_popup_bg.png");
}

.message{
	position:absolute;
	top:18.7%;
	width: 100%;
	text-align: center;
	font: 32px 'Bd', sans-serif;color:#4e4e4e;
}

.message_button{
	position:absolute;
	top: 50.3%;
	left: 50%;
	margin: 0 0 0 -115px;
	width: 231px;
	height: 56px;
	background-image: url("../img/768/login/ok_btn_nor.png");
}

.message_button:active {
	background-image: url("../img/768/login/ok_btn_sel.png");
}

#delete_box_page{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height:100%;
	display: none;
	z-index: 9999;
}

.delete_box{
	position:absolute;
	top: 50%;
	left: 50%;
	margin: -157px 0 0 -289px;
	width: 578px;
	height: 314px;
	background-image: url("../img/768/my-web-app/pop_up/pop_up_bg.png");
}

.delete_box_caption{
	position:absolute;
	top: 21.9%;
	width: 100%;
	text-align: center;
	font: 48px 'Bd', sans-serif;color:#4e4e4e;
}

.delete_box_description{
	position:absolute;
	top: 45.8%;
	width: 100%;
	text-align: center;
	font: 24px 'Roman', sans-serif;color:#4e4e4e;
}

.delete_exit_button{
	position:absolute;
	top: 6.1%;
	right: 7.9%;
	width: 22px;
	height: 20px;
	background-image: url("../img/768/my-web-app/pop_up/close_btn_nor.png");
}

.delete_exit_button:active {
	background-image: url("../img/768/my-web-app/pop_up/close_btn_sel.png");
}

.delete_confirm_button{
	position:absolute;
	top: 65.9%;
	left: 8.7%;
	width: 229px;
	height: 45px;
	background-image: url("../img/768/my-web-app/pop_up/delete_btn_nor.png");
}

.delete_confirm_button:active {
	background-image: url("../img/768/my-web-app/pop_up/delete_btn_sel.png");
}

.delete_cancel_button{
	position:absolute;
	top: 65.9%;
	left: 51.9%;
	width: 229px;
	height: 45px;
	background-image: url("../img/768/my-web-app/pop_up/cancel_btn_nor.png");
}

.delete_cancel_button:active {
	background-image: url("../img/768/my-web-app/pop_up/cancel_btn_sel.png");
}

#add_box_page {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height:100%;
	display: none;
	z-index: 9999;
}

#add_box_page .add_box_bg {
	background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #eeeeee), color-stop(1, #c7c7c7));
	background-image: -webkit-linear-gradient(top, #eeeeee, #c7c7c7);
	background-image: -moz-linear-gradient(top, #eeeeee, #c7c7c7);
	background-image: -o-linear-gradient(top, #eeeeee, #c7c7c7);
	
	-moz-box-shadow:0px 8px 10px #292929;
	-webkit-box-shadow:0px 8px 10px #292929;
	box-shadow:0px 8px 10px #292929;
	
	position:absolute;
	left:50%;
	width:518px;
	min-height:315px;
	margin-left:-256px;
	top:20%;
}

#add_box_page .add_box_bg .container {
	position:relative;
	width:500px;
}

#add_box_page .add_box_bg #add_box_title {
	position:relative;
	margin-top:10px;
	width: 100%;
	text-align: center;
	font: 48px 'Bd', sans-serif;color:#4e4e4e;
}

#add_box_page .add_box_bg #add_box_exit {
	position:absolute;
	top:5.9%;
	left:92.5%;
	width:27px;
	height:25px;
	padding:4px;
	background:url(../img/768/my-web-app/pop_up/close_btn_nor.png) no-repeat;
	background-position:center center;
	z-index:6
}

#add_box_page .add_box_bg #add_box_exit:hover {
	background-image:url(../img/768/my-web-app/pop_up/close_btn_sel.png);
}

#add_box_page .add_box_bg .container #add_box_desc {
	position:relative;
	width: 100%;
	text-align: center;
	font: 24px 'Lt', sans-serif;color:#4e4e4e;
}

#add_box_page .add_box_bg .container #add_box_icon {
	position:relative;
	left:50%;
	margin-left:-32px;
	margin-top:5px;
	width:65px;
	height:65px;
}

#add_box_page .add_box_bg .container .add_box_button {
	position:relative;
	left:50%;
	margin-left:-114px;
	width:228px;
	height:45px;
}

#add_box_page .add_box_bg .container #add_box_button_web_apps {
	display:none;
	margin-top:10px;
	background-image:url(../img/768/my-web-app/pop_up/myweb_btn_nor.png);
}

#add_box_page .add_box_bg .container #add_box_button_web_apps:hover {
	background-image:url(../img/768/my-web-app/pop_up/myweb_btn_sel.png);
}

#add_box_page .add_box_bg .container #add_box_button_sign_in_to_add {
	display:none;
	margin-top:10px;
	background-image:url(../img/768/my-web-app/pop_up/sign_in_to_add_btn_nor.png);
}

#add_box_page .add_box_bg .container #add_box_button_sign_in_to_add:hover {
	background-image:url(../img/768/my-web-app/pop_up/sign_in_to_add_btn_sel.png);
}

#add_box_page .add_box_bg .container #add_box_button_home_screen{
	margin-top:5px;
	background-image:url(../img/768/my-web-app/pop_up/homescreen_btn_nor.png);
}
#add_box_page .add_box_bg .container #add_box_button_home_screen:hover {
	background-image:url(../img/768/my-web-app/pop_up/homescreen_btn_sel.png);
}

/* My Web Apps */
#mywebapps_page {
	opacity: 0;
	
	display: none;
	
	background: url(../img/768/my-web-app/my_web_app_bg.jpg) no-repeat;
	background-size: 100% 100%;

	z-index: 2;
}

#pages_wrapper.menus #mywebapps_page {
	top:18.6%;
	left:29.1%;

	width: 0%;
	height: 0%;
	
	display: block;
}

#pages_wrapper.mywebapps #mywebapps_page .mywebapps_bg{
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url("../img/768/my-web-app/my_web_app_bg_deco.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right bottom;
}

#pages_wrapper.mywebapps #mywebapps_page {
	top: 0%;
	left: 0%;
	
	width: 100%;
	height: 100%;
	
	opacity: 1;
	
	display: block;
}

#pages_wrapper.mywebapps #mywebapps_page #mywebapps_exit {
	position: absolute;

	top: 0%;
	right: 0%;

	width: 81px;
	height: 75px;

	background-image: url(../img/768/login/close_btn_nor.png);
	background-position: center center;
	background-repeat: no-repeat;
}

#pages_wrapper.mywebapps #mywebapps_page #mywebapps_exit:hover {
	background-image: url(../img/768/login/close_btn_sel.png);
}

#pages_wrapper.mywebapps #mywebapps_page #title {
	position: absolute;

	top: 8.5%;
	left: 8.3%;

	font: 50px 'LT', sans-serif;color:#07659a;
}

#pages_wrapper.mywebapps #mywebapps_page #title #name {
	font: 50px 'LT', sans-serif;color:#ffffff;
}

#pages_wrapper.mywebapps #mywebapps_page .mywebapps_buttons {
	position: relative;
	top: 9.5%;
	width: 600px;
	margin: auto;
}

#pages_wrapper.mywebapps #mywebapps_page #edit {
	position: absolute;

	right: 0px;

	width: 97px;
	height: 38px;

	background-image: url(../img/768/my-web-app/edit_btn_nor.png);
}

#pages_wrapper.mywebapps #mywebapps_page #edit:hover {
	background-image: url(../img/768/my-web-app/edit_btn_sel.png);
}


#pages_wrapper.mywebapps #mywebapps_page.edit #delete {
	position: absolute;

	right: 98px;

	width: 97px;
	height: 38px;

	background-image: url(../img/768/my-web-app/delete_btn_nor.png);
}

#pages_wrapper.mywebapps #mywebapps_page.edit #delete:hover {
	background-image: url(../img/768/my-web-app/delete_btn_sel.png);
}

#pages_wrapper.mywebapps #mywebapps_page.edit #done {
	position: absolute;

	right: 0px;

	width: 97px;
	height: 38px;

	background-image: url(../img/768/my-web-app/done_btn_nor.png);
}

#pages_wrapper.mywebapps #mywebapps_page.edit #done:hover {
	background-image: url(../img/768/my-web-app/done_btn_sel.png);
}


#pages_wrapper.mywebapps #mywebapps_page .container {
	position: relative;

	top: 164px;
	
	width: 600px;
	height: 100%;

	margin: auto;
	display: block;
}
#pages_wrapper.mywebapps #mywebapps_page .line {
	position: absolute;

	top: 0px;
	
	width: 2px;
	height: 564px;

	background-image: url(../img/768/my-web-app/border_line.png);
	background-size: 100% 100%;

	z-index: 10;
}
#pages_wrapper.mywebapps #mywebapps_page .line1 {
	left: 280px;
}
#pages_wrapper.mywebapps #mywebapps_page .line2 {
	display: none;
}

#pages_wrapper.mywebapps #mywebapps_page .container #mywebapps_scroll_wrapper {
	position:absolute;
	top: 0px;
	bottom:181px;
	width:600px;
	overflow:auto;
}

#pages_wrapper.mywebapps #mywebapps_page .container #sortable{
	position:absolute;
	width:600px;
}


#pages_wrapper.mywebapps #mywebapps_page .app {
	position: relative;

	width: 240px;
	height: 72px;

	margin: 10px 10px;
	padding: 10px 10px;
	float: left;
}

@-webkit-keyframes shake {
	0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
	10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
	20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
	30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
	40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
	50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
	60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
	70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
	80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
	90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
	100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}
#pages_wrapper.mywebapps #mywebapps_page.edit .app {
/*
	-webkit-animation-name: shake;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
*/
}
#pages_wrapper.mywebapps #mywebapps_page.edit .check {
	position: absolute;

	width: 65px;
	height: 65px;

	background-image: url(../img/768/my-web-app/app_check_nor.png);

	z-index: 10;
}

#pages_wrapper.mywebapps #mywebapps_page.edit .check.checked {
	background-image: url(../img/768/my-web-app/app_check_sel.png);
}


#pages_wrapper.mywebapps #mywebapps_page .icon {
	position: absolute;


	width: 65px;
	height: 65px;

	background-size: 100% 100%;
}

#pages_wrapper.mywebapps #mywebapps_page .title {
	position: absolute;

	top: 35%;
	left: 85px;

	width: 163px;

	white-space: wrap;

	font: 16px 'Bd', sans-serif;color:#ffffff;
}

/* Apps */
#apps_page {
	
	position:absolute;
	top:0px;
	left:100%;
	width: 100%;
	height: 100%;
	opacity: 0;

	z-index: 3;
}

#apps_page .container {
	display:block;
	top:0; left:75px;
	width:100%;
	height:100%;
	
	background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #F1F1F1), color-stop(1, #939393));
	background-image: -webkit-linear-gradient(top, #F1F1F1, #939393);
	background-image: -moz-linear-gradient(top, #F1F1F1, #939393);
	background-image: -o-linear-gradient(top, #F1F1F1, #939393);
	
	-moz-box-shadow:0px 8px 10px #000000;
	-webkit-box-shadow:0px 8px 10px #000000;
	box-shadow:0px 8px 10px #000000;
}

#pages_wrapper #apps_page {
	display: block;
	width:0%;
}

#pages_wrapper.categories #apps_page .container {
	display: block;
}

#pages_wrapper.details.shortcut #apps_page {	
	display: none;
}

#pages_wrapper.apps #apps_page, #pages_wrapper.details #apps_page {
	position: absolute;
	top: 0;
	left: 21%;
	width:79%;
	height:100%;
	opacity: 1;
	
	display: block;
}


#pages_wrapper #apps_page_arrow {
	position : absolute;
	top : 1%;
	left : 0;
	width : 75px; height : 42px;
	background-image : url('../img/768/category/left_arrow.png');
	z-index : 3;
}

.apps_page_arrow_title {
	display:none;
}

#pages_wrapper #apps_page .apps_exit {
	position : absolute;
	top:2.1%;
	right:6.9%;
	width : 27px; height : 25px;
	padding:4px;
	background-image : url('../img/768/category/app_box_close_btn_nor.png');
	background-size:27px 25px;
	background-position:center center;
	background-repeat:no-repeat;
	z-index : 3;
}

#pages_wrapper #apps_page .apps_exit:active {
	background-image : url('../img/768/category/app_box_close_btn_sel.png');
}

#pages_wrapper #apps_page .container .apps_title {
	display:none;
	position:absolute;
	top:95.2px;
	left:50%;
	margin-left:-260px;
	width:750px;
	font:50px 'Lt', sans-serif;
	color:#46b2ee
}

#pages_wrapper #apps_page #apps.topfree #apps_top_free {
	display:block;
}

#pages_wrapper #apps_page #apps.education #apps_edu {
	display:block;
}

#pages_wrapper #apps_page #apps.entertainment #apps_enter {
	display:block;
}

#pages_wrapper #apps_page #apps.game #apps_game {
	display:block;
}

#pages_wrapper #apps_page #apps.lifestyle #apps_life {
	display:block;
}

#pages_wrapper #apps_page #apps.information #apps_info {
	display:block;
}

#pages_wrapper #apps_page .container #apps_scroll_wrapper {
	position:absolute;
	top:160px;
	bottom:25px;
	left:50%;
	width:510px;
	margin-left:-260px;
	overflow:auto;
}

#pages_wrapper #apps_page .container #apps_list {
	position:absolute;
	width:510px;;
}

#pages_wrapper #apps_page .apps_list_item {
	position:relative;
	float:left;
	width:231px; height:129px;
	background:url('../img/1280/category/App/app_bg_small_v.png') no-repeat;
	background-size:231px 129px;
	margin-right:15px;
	margin-bottom:15px
}

#pages_wrapper #apps_page .apps_list_item .apps_list_img {
	position:absolute;
	top:3.1%; left:2.9%;
	width:212px; height:122px;
	z-index:4	
}

#pages_wrapper #apps_page .apps_list_item .apps_list_infobox {
	position:absolute;
	bottom:3px; left:2px;
	width:223px; height:44px;
	background:url('../img/1280/category/App/app_title_bg_small_v.png') no-repeat;
	background-size:223px 44px;
	z-index:4
}

#pages_wrapper #apps_page .apps_list_item .apps_list_title {
	position:absolute;
	top:69%; left:6.9%;
	color:#ffffff;
	font:12px 'Bd', sans-serif;
	z-index:4
}

#pages_wrapper #apps_page .apps_list_item .apps_list_rate {
	position:absolute;
	top:77.5%; left:6.7%;
	width:50px;
	height:10px;
	z-index:4
}

#pages_wrapper #apps_page .apps_list_item .apps_list_rate .apps_list_marked {
	background-image:url('../img/1280/category/App/star_1_icon_act.png');
	background-repeat:repeat-x;
	height:10px;
	float:left;
	z-index:4
}

#pages_wrapper #apps_page .apps_list_item .apps_list_rate .apps_list_unmarked {
	background-image:url('../img/1280/category/App/star_1_icon_disable.png');
	background-repeat:repeat-x;
	height:10px;
	float:right;
	z-index:4
}

#pages_wrapper #apps_page .apps_list_item .apps_list_download {
	position:absolute;
	top:79.1%; left:57.8%;
	background:url('../img/1280/category/App/down_arrow_1_icon.png') no-repeat;
	background-size:9px 12px;
	font:12px 'Bd', sans-serif;
	color:#33e2e8;
	line-height:12px;
	padding-left:6.7%;
	z-index:4
}

#pages_wrapper #apps_page .apps_list_item:nth-child(1) {
	position:relative;
	float:left;
	width:472px; height:428px;
	background:url('../img/1280/category/App/app_bg_big.png') no-repeat;
	background-size:472px 428px;
	margin-right:15px;
	margin-bottom:15px;
}

#pages_wrapper #apps_page .apps_list_item:nth-child(1) .apps_list_img {
	position:absolute;
	top:1.2%; left:1.4%;
	width:458px; height:414px;
	z-index:4	
}

#pages_wrapper #apps_page .apps_list_item:nth-child(1) .apps_list_infobox {
	position:absolute;
	top:79.7%; left:0.5%;
	width:467px; height:81px;
	background:url('../img/1280/category/App/app_title_bg_big.png') no-repeat;
	background-size:467px 81px;
	z-index:4
}

#pages_wrapper #apps_page .apps_list_item:nth-child(1) .apps_list_title {
	position:absolute;
	top:84.4%; left:5.1%;
	color:#ffffff;
	font:20px 'Bd', sans-serif;
	z-index:4
}

#pages_wrapper #apps_page .apps_list_item:nth-child(1) .apps_list_rate {
	position:absolute;
	top:89.8%; left:5.1%;
	width:79px;
	height:16px;
	z-index:4
}

#pages_wrapper #apps_page .apps_list_item:nth-child(1) .apps_list_rate .apps_list_marked{
	background-image:url('../img/1280/category/App/star_3_icon_act.png');
	background-repeat:repeat-x;
	height:16px;
	float:left;
	z-index:4
}

#pages_wrapper #apps_page .apps_list_item:nth-child(1) .apps_list_rate .apps_list_unmarked{
	background-image:url('../img/1280/category/App/star_3_icon_disable.png');
	background-repeat:repeat-x;
	height:16px;
	float:right;
	z-index:4
}

#pages_wrapper #apps_page .apps_list_item:nth-child(1) .apps_list_download {
	position:absolute;
	top:90%; left:69.5%;
	background:url('../img/1280/category/App/down_arrow_3_icon.png') no-repeat;
	background-size:13px 17px;
	font:18px 'Bd', sans-serif;
	color:#33e2e8;
	line-height:17px;
	padding-left:5.4%;
	z-index:4
}

#pages_wrapper.details #apps_page .container {
	display: block;	
}

#pages_wrapper #apps_page .apps_bg {
	position: absolute;
	width: 100%;
	height: 100%;
	background-image : url(../img/1280/category/bg_deco.png);
	background-position : right bottom;
	background-repeat : no-repeat;
}


/* Details */
#details_page {
	position: absolute;
	
	top: 100%;
	left: 0%;

	width: 100%;
	height: 100%;
	
	opacity: 0;
	
	background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #f1f1f1), color-stop(1, #c7c7c7));
	background-image: -webkit-linear-gradient(top, #f1f1f1, #c7c7c7);
	background-image: -moz-linear-gradient(top, #f1f1f1, #c7c7c7);
	background-image: -o-linear-gradient(top, #f1f1f1, #c7c7c7);
	
	-moz-box-shadow:-8px 0px 10px #000000;
	-webkit-box-shadow:-8px 0px 10px #000000;
	box-shadow:-8px 0px 10px #000000;

	z-index: 4;
}

#pages_wrapper.categories #details_page {
	display: block;
	height:0%;
}

#pages_wrapper.categories #details_page .container {
	display: none;
}

#pages_wrapper #details_page {
	display: block;
	height:0%;
}

#pages_wrapper.apps #details_page .container {
	display: none;
	left:4.4%;
}
#pages_wrapper.details #details_page {
	top: 21%;
	left: 0%;
	width:100%;
	height:79%;
	
	opacity: 1;
	
	display: block;
}

#pages_wrapper.details #details_page .container {
	top: 0%;
	left:0%;
	width:100%;
	height:100%;
	display: block;	
}

#pages_wrapper.details #details_page .container #details {
	position:absolute;
	left:50%;
	display:block;
	width:742px;
	height:430px;
	margin-left:-380px;
	margin-top:40px;
}

#pages_wrapper.details #details_page .container .detail_bg #detail_icon {
	margin-top:3px;
	margin-left:3px;
	width:62px;
	height: 63px;
}

#pages_wrapper.details #details_page .container .detail_caption{
	position: absolute;
	top: 5px;
	left: 80px;
	font: 24px 'Bd', sans-serif;color:#292929;
}

#pages_wrapper.details #details_page .container #detail_rate {
	position: absolute;
	top: 30px;
	left:80px;
	width:80px;
	height:16px;
}

#pages_wrapper.details #details_page .container #detail_rate #detail_rate_marked {
	position: absolute;
	float:left;
	background-image:url("../img/768/category/star_act.png");
	background-repeat:repeat-x;
	height:16px;
}

#pages_wrapper.details #details_page .container #detail_rate #detail_rate_unmarked {
	position: absolute;
	float:right;
	background-image:url("../img/768/category/star_nor.png");
	background-repeat:repeat-x;
	height:16px;
}

#pages_wrapper.details #details_page .container .detail_rate1{
	position: absolute;
	top: 30px;
	left:80px;
}

#pages_wrapper.details #details_page .container .detail_rate2{
	position: absolute;
	top: 30px;
	left:96px;
}

#pages_wrapper.details #details_page .container .detail_rate3{
	position: absolute;
	top: 30px;
	left:112px;
}

#pages_wrapper.details #details_page .container .detail_rate4{
	position: absolute;
	top: 30px;
	left:128px;
}

#pages_wrapper.details #details_page .container .detail_rate5{
	position: absolute;
	top: 30px;
	left:144px;
}

#pages_wrapper.details #details_page .container #detail_description{
	top: 52px;
	left: 80px;
	position: absolute;
	font: 12px 'Bd', sans-serif;color:#292929;
}

#pages_wrapper.details #details_page .container .detail_btn_add {
	position: absolute;
	top: 60px;
	right:11.1%;
	width: 192px;
	height: 38px;
	background-image: url("../img/768/category/add_btn_nor.png");
	z-index:6;
}

#pages_wrapper.details #details_page .container .detail_btn_add:hover {
	background-image: url("../img/768/category/add_btn_sel.png");
}

#pages_wrapper.details #details_page .detail_arrow:active {
	background-image: url("../img/768/category/down_arrow.png");
}

#pages_wrapper.details #details_page .detail_arrow{
	position: absolute;
	top:5.4%;
	right:5.4%;
	width: 42px;
	height: 70px;
	background-image: url(../img/768/category/down_arrow.png);
	z-index:6;
}

#pages_wrapper.details #details_page .container .detail_btn_description{
	position: absolute;
	top: 78px;
}

#pages_wrapper.details #details_page .container .detail_btn_description_button{
	position: absolute;
	width: 184px;
	height: 30px;
	background-image: url(../img/768/category/description_nor.png);
}

#pages_wrapper.details #details_page .container .detail_btn_description_button:active {
	background-image: url(../img/768/category/description_sel.png);
}

#pages_wrapper.details #details_page .container .detail_btn_description_focused{
	position: absolute;
	display: none;
	width: 184px;
	height: 30px;
	background-image: url(../img/768/category/description_act.png);
}

#pages_wrapper.details #details_page .container .detail_btn_description_disabled{
	position: absolute;
	width: 184px;
	height: 30px;
	background-image: url(../img/768/category/description_disable.png);
}

#pages_wrapper.details #details_page .container .detail_btn_webapp{
	position: absolute;
	top: 78px;
	left: 186px;
}

#pages_wrapper.details #details_page .container .detail_btn_webapp_button{
	position: absolute;
	width: 184px;
	height: 30px;
	background-image: url(../img/768/category/webapp_nor.png);
}

#pages_wrapper.details #details_page .container .detail_btn_webapp_button:active {
	background-image: url("../img/768/category/webapp_sel.png");
}

#pages_wrapper.details #details_page .container .detail_btn_webapp_focused{
	position: absolute;
	display: none;
	width: 184px;
	height: 30px;
	background-image: url("../img/768/category/webapp_act.png");
}

#pages_wrapper.details #details_page .container .detail_btn_webapp_disabled{
	position: absolute;
	width: 184px;
	height: 30px;
	background-image: url("../img/768/category/webapp_disable.png");
}

#pages_wrapper.details #details_page .container .detail_btn_review{
	position: absolute;
	top: 78px;
	left: 372px;
}

#pages_wrapper.details #details_page .container .detail_btn_review_button{
	position: absolute;
	width: 184px;
	height: 30px;
	background-image: url("../img/768/category/review_nor.png");
}

#pages_wrapper.details #details_page .container .detail_btn_review_button:active {
	background-image: url("../img/768/category/review_sel.png");
}

#pages_wrapper.details #details_page .container .detail_btn_review_focused{
	position: absolute;
	display: none;
	width: 184px;
	height: 30px;
	background-image: url("../img/768/category/review_act.png");
}

#pages_wrapper.details #details_page .container .detail_btn_review_disabled{
	position: absolute;
	width: 184px;
	height: 30px;
	background-image: url("../img/768/category/review_disable.png");
}

#pages_wrapper.details #details_page .container .detail_btn_more{
	position: absolute;
	top: 78px;
	left: 558px;
}

#pages_wrapper.details #details_page .container .detail_btn_more_button{
	position: absolute;
	width: 184px;
	height: 30px;
	background-image: url("../img/768/category/more_nor.png");
}

#pages_wrapper.details #details_page .container .detail_btn_more_button:active {
	background-image: url("../img/768/category/more_sel.png");
}

#pages_wrapper.details #details_page .container .detail_btn_more_focused{
	position: absolute;
	display: none;
	width: 184px;
	height: 30px;
	background-image: url("../img/768/category/more_act.png");
}

#pages_wrapper.details #details_page .container .detail_btn_more_disabled{
	position: absolute;
	width: 184px;
	height: 30px;
	background-image: url("../img/768/category/more_disable.png");
}
	
#pages_wrapper.details #details_scroll_wrapper {
	position:absolute;
	top:116px;
	bottom:10px;
	width:742px;
	overflow:auto;
}

#pages_wrapper.details #details_scroll_wrapper #scroller {
	position:absolute;
	width:742px;
}

#pages_wrapper.details #details_page .container .detail_screenshot{
	position: relative;
	float:left;
	width:367px;
}

#pages_wrapper.details #details_page .container .detail_screenshot_main{
	position: relative;
	float:left;
	width: 367px;
	height: 247px;
	background-color: #ffffff;
}

#pages_wrapper.details #details_page .container #details_screenshot_thumb {
	position:relative;
	float:left;
	height:56px;
}

#pages_wrapper.details #details_page .container .screenshot{
	float:left;
	width: 85px;
	height: 56px;
	background-color: #ffffff;
	margin:10px 9px 0 0;
}

#pages_wrapper.details #details_page .container .screenshot:nth-child(4){
	margin:10px 0 0 0;
}

#pages_wrapper.details #details_page .container .screenshot:nth-child(5){
	display:none;
}

#pages_wrapper.details #details_page .container .detail_screenshot_img{
	width: 100%;
	height: 100%;
}

#pages_wrapper.details #details_page .container .detail_captions {
	position: relative;
	float:right;
	width:367px;
}

#pages_wrapper.details #details_page .container #detail_caption_header{
	position:relative;
	float:left;
	font: 16px 'Bd', sans-serif;color:#292929;
}

#pages_wrapper.details #details_page .container #detail_caption_description{
	position:relative;
	float:left;
	font: 12px 'Bd', sans-serif;color:#555555;
}
